<div class="w-screen h-screen p-4 grid gap-y-4 content-start">
  <h2 class="self-start">Images</h2>
  <div class="self-stretch min-w-[98vw] max-w-[98vw] overflow-scroll">
    <p-table [value]="images">
      <ng-template #header>
        <tr>
          <th class="!min-w-[80px] !w-[80px] !max-w-[80px] !text-center"><span class="font-bold">Div</span></th>
          <th><span class="font-bold">Image Tag</span></th>
        </tr>
      </ng-template>
      <ng-template #body let-image>
        <tr>
          <td class="!min-w-[80px] !w-[80px] !max-w-[80px] !text-center">
            <button (click)="dive(image.Id)"
                    class="hover:bg-blue-100 text-white font-bold my-1 py-2 px-2 rounded">
              <img width="32" src="icons/dive.svg" alt="Dive" title="Dive"/>
            </button>
          </td>
          <td title="Id: {{ image.Id }}">
            @if (image.RepoTags && image.RepoTags.length > 0) {
              <ul>
                @for (repoTag of image.RepoTags; track repoTag) {
                  <li>{{ repoTag }}</li>
                }
              </ul>
            } @else {
              <ul>
                <li>{{ image.Id }}</li>
              </ul>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <h2 class="self-start">Containers</h2>
  <div class="self-stretch min-w-[98vw] !w-[80px] max-w-[98vw] overflow-scroll">
    <p-table [value]="containers">
      <ng-template #header>
        <tr>
          <th class="!min-w-[80px] !w-[80px] !max-w-[80px] !text-center"><span class="font-bold">Dive</span></th>
          <th><span class="font-bold">Image Tag</span></th>
          <th><span class="font-bold">Container</span></th>
        </tr>
      </ng-template>
      <ng-template #body let-container>
        <tr>
          <td class="!min-w-[80px] !max-w-[80px] !text-center">
            <button (click)="dive(container.ImageID)"
                    class="hover:bg-blue-100 text-white font-bold my-1 py-2 px-2 rounded">
              <img width="32" src="icons/dive.svg" alt="Dive" title="Dive"/>
            </button>
          </td>
          <td title="{{ container.ImageID }}">
            @if (container.Image) {
              <ul>
                <li>{{ container.Image }}</li>
              </ul>
            } @else {
              <ul>
                <li>{{ container.ImageID }}</li>
              </ul>
            }
          </td>
          <td title="Id: {{ container.Id }}">
            @if (container.Names && container.Names.length > 0) {
              <ul>
                @for (name of container.Names; track name) {
                  <li>{{ name }}</li>
                }
              </ul>
            } @else {
              <ul>
                <li>{{ container.Id }}</li>
              </ul>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
